.app {
  display: flex;
  text-align: center;
  height: 40.8em;
}

.sidebar {
  padding: 1.5em;
  width: 15%;
  background: #f0f0f0;
}

.sidebar li {
  padding-top: 0.5em; 
  cursor: pointer;
  color: #02028a;
}

.main {
  flex: 1;
  padding: 2em;
}

.main .navbar {
  background-color: #757474;
  margin-bottom: 1em;
}

.main .navbar ul {
  list-style-type: none;
  padding: 1em;
}

.main .navbar li {
  display: inline-block;
  padding-right: 1em; 
  cursor: pointer; 
}

.main h2 {
  color: #01015c;
}

.main h4 {
  color: #020274;
}

.main p {
  color: #2c2b2b;
}

.main ul {
  list-style-type: none;
}

.main li {
  padding-top: 0.5em; 
  cursor: pointer;
  color: #02028a;
}

.main .back {
  display: inline-block;
  margin-bottom: 1em;
  color: #020349;
}

.sidebar .nolink {
  cursor: default;
}

.main .nolink {
  cursor: default;
}
